footer {
  height: 6rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 1.5rem;
  color: rgb(222, 222, 222);
  text-align: center;
  margin-top: 1.3rem;
}

@media (max-width: 450px) {
  footer {
    height: 15rem;
  }

  .copyright {
    font-size: 1.45rem;
    margin: 0 auto;
  }
}
