.loginSection {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.textContainer {
  height: 400px;
  width: 600px;
  margin: 0 15.75rem 0 3.5rem;
}

.textLogo {
  font-size: 7.5rem;
  font-weight: 700;
  letter-spacing: -5px;
  color: var(--color-primary);
  text-align: start;
  margin-top: 5rem;
  margin-left: 10rem;
}

.textSub {
  font-size: 3rem;
  margin-left: 10rem;
  color: var(--color-secondary);
}

.loginContainer {
  height: 400px;
  width: 400px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}

.divider {
  height: 0.15px;
  width: 34rem;
  background-color: rgb(122, 122, 122);
  border-radius: 6px;
  margin: 3.25rem 0;
}

.signup {
  height: 5rem;
  width: 36rem;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 6px;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  letter-spacing: -1px;
  margin: 0 auto;
}

.loginBtn {
  height: 5rem;
  width: 36rem;
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  box-shadow: none;
  font-size: 2rem;
  font-weight: 500;
  color: white;
  letter-spacing: -1px;
  margin: 15px 50px 0;
}

.loginBtn:hover {
  background-color: var(--color-primary);
}

.input {
  height: 5rem;
  width: 36rem;
  font-size: 2rem;
  margin: 1.75rem 50px;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--color-text-primary);
}

.input:focus {
  border: 1px solid var(--color-primary);
}

@media (max-width: 450px) {
  .loginSection {
    align-items: flex-start;
    justify-content: center;
  }

  .textContainer {
    display: none;
  }

  .textLogo {
    display: none;
  }

  .textContainer p {
    display: none;
  }

  .loginContainer {
    height: 375px;
    width: 320px;
    margin-top: 70px;
  }

  .divider {
    height: 0.15px;
    width: 28rem;
  }

  .signup {
    height: 5rem;
    width: 30rem;
  }

  .loginBtn {
    height: 5rem;
    width: 30rem;
    margin: 5px 50px;
  }

  .input {
    width: 30rem;
    font-size: 2rem;
    margin: 15px 50px;
    border-radius: 6px;
    outline: none;
  }
}
